@model List<Category>
@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<div class="container" style="display:flex; align-items:center; margin-left:10px">
    <h1>Categories</h1>
    <a asp-action="create" asp-controller="Categorie" class="btn btn-success" style="margin-left: 20px;">Create</a>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category category in ViewBag.Categories)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@category.Id</td>
                    <td>@category.Name</td>

                    <td>
                        <a asp-action="update" asp-controller="Categorie" asp-route-id="@category.Id" class="btn btn-info">Update</a>
                        <a asp-action="Delete" asp-controller="Categorie" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


